<mat-card >
  <img mat-card-image alt=""  [src]="track!.album!.images[0]!.url"/>
  <mat-card-title>{{track?.name || ''}}</mat-card-title>
  <mat-card-subtitle *ngIf="track">
    <span *ngFor="let artist of track.artists">{{artist.name}},</span>
  </mat-card-subtitle>
  <mat-card-footer>
    <button mat-raised-button color="primary">Download</button>
    <button mat-raised-button color="accent">Info</button>
    <button mat-mini-fab color="primary">
      <mat-icon>play_arrow</mat-icon>
    </button>
  </mat-card-footer>
</mat-card>
