.custom-shape-divider-bottom-1634391202 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1634391202 svg {
  position: relative;
  display: block;
  width: calc(127% + 1.3px);
  height: 120px;
}

.custom-shape-divider-bottom-1634391202 .shape-fill {
  fill: #FFFFFF;
}

.searchBox {
  background: #FFFFFF ;
  border-radius: 20px;
  box-shadow: 5px 10px #888888;
  width: 500px;
}

app-track {

}

.track-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
}
