

.searchBox {
  background: #FFFFFF ;
  border-radius: 20px;
  box-shadow: 5px 10px #888888;
  width: 500px;
}


.track-container{
  margin: 50px 40px 30px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
}
